<!DOCTYPE html>
<html ng-app="mrlib" lang="ja" mr-disp-milli="480,270">
<head>
	<meta charset="utf-8">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Minority Report Library Demo(α版)</title>
    <link rel="stylesheet" href="css/index.css">
	<!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular-cookies.min.js"></script>
	<script src="js/leap.js"></script>
	<script src="js/mrlib.js"></script>
	<script src="js/index.js"></script>
</head>
	<body ng-controller="indexCtrl">
	<div id="main">
	  <div id="report001" mr-node="true">
	      <h3>なにこれ？</h3><br>
		  LEAPでマイノリティ・リポートの”あのインターフェース”を作りたいと思っただけです。
		  まだ奥行きとか認識してません。WebGLやCanvasとの組み合わせも考えましたが、
		  DIVやSPAN操作の方が、使ってくれる人多いかなと思い、レイヤー操作に対応してます。
	  </div>
	  <div id="report002" mr-node="true">
	      <h3>操作方法</h3><br>
	      <ul>
			  <li>手の位置は小さな点で表示されます。小さな点がレイヤー内に入ると、borderが変化します。</li>
			  <li>レイヤー内で1本指状態にすると、レイヤーを選択した状態になり、移動することが可能です。</li>
			  <li>レイヤー内で5本指ひらいた状態にすると、拡縮モードになり、前後することで拡縮します。</li>
			  <li>レイヤー内に2つの点が入ると、リサイズモードになります。手のひらを閉じて（掴んだ状態で）上下左右することで、サイズを変更することが可能です。</li>
	      </ul>
	  </div>
	  <div id="report003" mr-node="true">
	      <h3>環境について</h3><br>
		  LEAPが必要です！<br>
		  LEAPのSettingsで”Allow Web Apps”がチェックされている必要があります。<br>
	  </div>
	  <div id="report004" mr-node="true">
	      <h3>今後</h3><br>
		  回転、反転、重なり順（z-index）をジェスチャーで操作できるようにする。他諸々<br>
		  <font color="#ff0000">デザインはできませんので、面白くするのは…　だれかー！</font><br><br>
		  <div style="text-align:center;">
		  --　<a href="https://github.com/nobumin/mrlibjs">Githubにも一応置いておきました。</a>　--<br><br>
		  --　<a href="" ng-click="searchImage()">画像で遊んでみる。</a> 画像検索:<input type="text" ng-model="searchValue" placeholder="ぜかまし"/>--
		  </div>
	  </div>
	</div>
	</body>
</html>
